<div ng-controller="UmbracoForms.Editors.Form.CopyController">
  <div class="umb-dialog-body with-footer">
    <div class="umb-pane">
      <h5><i class="icon icon-autofill"></i> {{ title }}</h5>

      <umb-control-group localize="label" label="@formCopy_enterName" hide-label="false">
        <input type="text" name="folderName" maxlength="255" ng-model="copiedForm.name" class="umb-textstring textstring input-block-level" umb-auto-focus required />
      </umb-control-group>

      <umb-checkbox model="copiedForm.copyWorkflows" label-key="formCopy_alsoCopyWorkflows"></umb-checkbox>

      <div ng-if="foldersSupported">

        <umb-control-group>
          <umb-checkbox model="copiedForm.copyToNewFolder" label-key="formCopy_copyToNewFolder"></umb-checkbox>
        </umb-control-group>

        <umb-control-group localize="label" label="@formCopy_selectLocation" hide-label="false" ng-show="copiedForm.copyToNewFolder">
          <umb-tree section="forms"
                    treealias="form"
                    customtreeparams="foldersonly=1"
                    hideheader="false"
                    hideoptions="true"
                    isdialog="true"
                    api="dialogTreeApi"
                    on-init="onTreeInit()"
                    enablecheckboxes="true">
          </umb-tree>
        </umb-control-group>

      </div>
    </div>
  </div>

  <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
    <a class="btn btn-link" ng-click="cancelCopy()">
      <localize key="general_cancel">Cancel</localize>
    </a>
    <button class="btn btn-primary" ng-click="copyForm(currentNode.id)">
      <localize key="actions_copy">Copy</localize>
    </button>
  </div>
</div>
